/* Buttons */

.btn {
    padding: 16px 40px;
    background-color: var(--primary-red);
    border-radius: 56px;
    color: var(--white);
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    line-height: 28px;
}

.btn-small {
    padding: 8px 16px;
    background-color: var(--primary-red);
    border-radius: 56px;
    color: var(--white);
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    line-height: normal;
    text-decoration: none;
}

.btn:hover,
.btn-small:hover,
.btn:focus,
.btn-small:focus {
    background-color: var(--secondary-red);
    color: var(--white);
}

.btn:focus-visible,
.btn-small:focus-visible {
    background-color: var(--primary-red);
    box-shadow: 0 0 0 .25rem var(--black);
    color: var(--white);
}