/* Inputs */
.form-label {
    color: var(--black);
    font-weight: var(--font-weight-bold);
    line-height: 21px;
}

input.form-control {
    padding: 12px 16px;
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--secondary-gray);
}

.form-check-input:checked {
    background-color: var(--black);
    border-color: var(--black);
}

input.form-control:focus,
input.form-control:focus-visible,
.form-select:focus,
.form-select:focus-visible,
.form-check-input:focus,
.form-check-input:focus-visible,
textarea:focus,
textarea:focus-visible,
.form-control:focus,
.form-control:focus-visible {
    box-shadow: 0 0 0 .25rem var(--black);
}