/* Inputs */
.form-label {
    color: var(--black);
    font-weight: var(--font-weight-bold);
    line-height: 21px;
}

input.form-control {
    padding: 8px 40px 8px 24px;
    background-color: var(--white);
    border-radius: 2px;
    border: 1px solid var(--secondary-gray);
}
.input-group .glass {
    position: absolute;
    right: 18px;
    top: 0.5rem;
}

.form-check {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    min-height: unset;
}

.form-check-input {
    width: 18px;
    height: 18px;
    border: 1px solid var(--black);
    margin-top: 0;
}

.form-check-label {
    margin-left: 12px;
}

.form-check-input:hover,
.form-check-label:hover {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: unset;
    border-color: var(--black);
}

.form-check-input:checked[type=checkbox] {
    background-image: url("/assets/icons/icons/check-filter.svg");
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
}

input.form-control:focus,
input.form-control:focus-visible,
.form-select:focus,
.form-select:focus-visible,
.form-check-input:focus,
.form-check-input:focus-visible,
textarea:focus,
textarea:focus-visible,
.form-control:focus,
.form-control:focus-visible {
    border-radius: 4px;
    border: 1px solid var(--black);
    background: var(--white);
    box-shadow: none;
}