/* Catalogo */
.filtros .input-group button {
    border-radius: 4px;
    padding: 16px;
}

.filtros .title {
    font-weight: var(--font-weight-semibold);
}

.filtros-categoria {

}

.resultados-filtros {
    display: flex;
    justify-content: space-between;
}
.resultados-filtros-filter {
    display: flex;
    align-items: center;
}
.resultados-filtros-filter .form-label {
    white-space: nowrap;
}

@media screen and (max-width: 992px) {
    .resultados {
        padding-top: 2rem;
    }
}